<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Dictionary</title>
</head>
<body style="font-family: Shrikhand ; text-align: center;">
  <h1 style="font-family:Gloria Hallelujah ;">
    Welcome To Express Dictionary</h1>
    <a href="/terms"><h2>Go The Terms</h2></a>
    <a href="/terms/new"><button type="submit">Add new term</button></a>
</body>
</html>